################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plural Sight/Fundamentals/MainSolution/.vs/MainSolution/v16/Server/sqlite3
