@page
@model OdeToFoodWebApp.Pages.Restaurants.ListModel
@{
}


    @if (Model.RestaurantName != null)
	{
        <div class="alert alert-info">
            Restaurant @Model.RestaurantName has been deleted!
        </div>
	}

    <h1>Restaurants</h1>

    <form  method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" name="term" class="form-control" asp-for="Term" />
                <span class="input-group-btn">
                    <button class="btn btn-dark" type="submit">Search</button>
                </span>
            </div>
        </div>
    </form>

    <div>
        @foreach (var item in Model.Restaurants)
        {
            <partial name="_Summary" model="item" />
        }

        <br />
        <br />
        <a asp-page="./Edit" class="btn btn-primary">Create</a>
    </div>