 
@{
    ViewData["Title"] = "EmailConfirmation";
    var email = ViewData["Email"] as string;
}

<h1>EmailConfirmation</h1>
<p>
    A confirmation email has been sent to @email. Please use the instructions given in the email message to verify the user.
</p>

