@model int

    <br />
    <br />
    <div class="container">
        <div class="card bg-light">
            There are @Model  restaurants in total. <a asp-page="/Restaurants/List">View them all</a>
        </div>
    </div>